*{
  font-family: 'Poppins', sans-serif;
}


.question-map {
  height: 66px;
}
.question-formatacao {
  width: 22px;
  height: 22px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.question-navegation {
  align-items: center;
  justify-content: space-between;
  height: 66px;
  overflow-x: auto;
}

.question-estilo{
  background-color: #c8c8c8;
  font-weight: bolder;

}

.barra-conexao {
  margin-top: -34px;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(100% - 40px);
  height: 4px;
  background-color: #ececec;
}

/* OPCOES QUESTOES */

.questao-certa {
  background-color: #0d8;
  color: #fff;
}

.questao-errada {
  background-color: #dc5a5a;
  color: #fff;
}

.questao-atual {
  width: 26px;
  height: 26px;
}

.questao-restante{
  background-color: #f8f8f8;
  color: #c8c8c8;
  border-style: solid;
  border-width: 1px;
  border-color: #c8c8c8;
}

.footer-controle{
  justify-content: space-around;
  align-items: center;
  width: 95%;
  /* box-shadow: 0 0 6px rgb(0 0 0 / 13%); */
  border-radius: 4px;
  padding: 10px 0;
  margin-bottom: 24px;
}

.voltar-estilo {
  color: #282828;
  font-weight: bold;
  font-size: 20px;

}

.proxima-estilo{
  font-size: 20px;
  color: #5B3D6A;
  font-weight: bold;

}

.btn-estilo{
  padding-left: 2rem;
  padding-right: 2rem;
}

.btn-estilo:hover {
  cursor: pointer;
  opacity: 0.8;
  border: 1px solid #c8c8c8;

}

.video-linha{
  width: 100%;
}

.video-container{
  border-top: #c8c8c8;

}

.check-atividade:checked{
  font-weight: 800;
  background-color: #5B3D6A;
  border: #5B3D6A;
}

.video-container {
  overflow: hidden;
  position: relative;
  width:100%;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.titulo-atividade{
  color: #5B3D6A;
  font-weight: 900;
}

.radio-questao{
  margin-right: 1rem;
}
.radio-questao:checked {
  background-color: #8b7fe2;
  border-color: #8b7fe2;
}

.anexar{
  width: 100%;

}
